# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[x64]/
[x86]/
[Oo]bj/
[Bb]in/
[Aa]ssets/Assets.xcassets/

# NuGet
*.nupkg
*.snupkg
*.nuspec

# Visual Studio Code
.vscode/

# macOS
*.DS_Store

# User-specific files
*.db
*.sqlite

# Logs
*.log

# Others
*.pdb
*.mdb
*.dll
*.exe
*.apk
*.ipa
*.app
